@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');

* {
    margin:0;
    padding:0;
    font-family: 'Klee One', cursive;
}

:root {
    --primary-color : #ef233c;
    --secondary-color : #fb8500;
}

body {
    background-color: #212529;
}

h1 {
    color: var(--primary-color);
    text-align: center;
}

h2 {
    margin: 1rem 0rem;
    color: var(--secondary-color);
    text-align: center;
}

button {
    height: 1.7rem;
    width: 9%;
    margin: .5rem 40rem;
    background-color: #efd3d7;
    border: none;
    font-weight: bold;
    font-size: 1rem;
}

#btn-h1 {
    color : var(--primary-color)
}

#btn-h2 {
    color : var(--secondary-color)
}